body, html{
  height: 100%;
}

.usuario {
  float: left;
  width: 300px;
  height: 100%;
}
.header-usuario {
	background: #fc4a1a;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 250px;
	float:left;
}
.avatar-usuario {
	width: 160px;
	padding-left:12px;
	padding-top:20px;
}
.avatar-usuario img {
	height: 150px;
}
.info-usuario {
	margin-top:-20px;
	float:left;
}
.userName {
	font-family: 'Quicksand', sans-serif;
	color:#fff;
	font-weight: 700;
	font-size: 24px;
}
.nickName {
	font-family: 'Quicksand', sans-serif;
	color:#fff;
	font-size:10px;
	text-align: center;
}
.menu {
	float:left;
	font-family: 'Quicksand', sans-serif;
	width:300px;
	height: 100%;
	background: #fff;
}
.collapsible-header {
	box-shadow: none;
    height: 40px;
    line-height: 11px;
}
.collapsible-body {
	box-shadow: none;
    display: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding:15px 0 15px 25px;
    color: #424242;
    height:100%;
}
.sidenav {
	top:initial !important;
}
.sidenav li>a>i, .sidenav li>a>[class^="mdi-"], .sidenav li>a li>a>[class*="mdi-"], .sidenav li>a>i.material-icons {
	float:right;
}

.collapsible, .sidenav {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.sidenav .collapsible-header:hover, .sidenav.fixed .collapsible-header:hover {
    background-color: #ffa000;
}




/* HELPERS */ 
