main {
	padding-left:320px;
}
.header-usuario {
	background: #fc4a1a;
	/*background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);
	background: linear-gradient(to right, #f7b733, #fc4a1a); */
	background: url('../imgs/yu1.jpg');
	background-size:cover;
	height: 200px;
}
.avatar-usuario {
	width: 250px;
	padding-top:25px;
/*margin-top:20px;*/
}
.avatar-usuario img {
	height: 100px;
	margin-left: 40px;
}
.info-usuario {
	margin-top:-40px;
	float:left;
}
.userName {
	color:#fff;
	font-weight: 700;
	font-size: 1.5em;
}
.nickName {
	color:#fff;
	font-size:10px;
	margin-top: -20px;
	text-align: center;
}
.sidenav .collapsible-header {
	padding: 0 31px;
}
.sidenav-trigger a {
	color:#212121;
}
/*.welcome {
	display: block;
	height: 55px;
	background: #fff;
}*/

.welcome {
	height: 35px;
}

.welcome p {
	line-height: 55px;
	padding-left: 15px;
	font-size: 2em;
	color:#727272;
	margin:0;
}
.welcome:target {
	display: none;
}
.dismiss {
	height: 55px;
	border-left:1px solid #ccc;
}
.dismiss span a{
	margin-left:20px;
	line-height: 55px;
	text-align: center;
	color:#727272;
	font-weight: 700;
	font-size:2em;
}

.dismiss span a:hover {
	color:#000;
}

.corpo {
	height: 450px;
	overflow: hidden;
}
@media screen and (max-width:1090px) {
	.welcome p {
      		font-size:1.3em;
      	}
      	.dismiss span a{
			margin-left:12px;
		}
}
@media screen and (max-width: 990px) {
      	main {
      		padding-left:100px;
      	}
      	.dismiss span a{
			margin-left:7px;
		}
}

/* FIM PÁGINA PRINCIPAL */

/* PÁGINA DE CADASTRO DE USUÁRIO */

.signin {
	padding-left:45px;
}
.botao-enviar {
	height: 55px;
}
.botao-enviar .btn {
    margin-right: -3px;
}

.message {
	height: 105px;
}


/* PÁGINA DE LOGIN */

.input-field .prefix.active {
    color: #f57c00;
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input:not([type]):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]){

    border-bottom: 1px solid #f57c00;
    -webkit-box-shadow: 0 1px 0 0 #f57c00;
    box-shadow: 0 1px 0 0 #f57c00;
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly])+label, input:not([type]):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly])+label{
    color: #f57c00;
}

input[type="checkbox"]:checked+span:not(.lever):before {
	    border-right: 2px solid #f57c00;
    	border-bottom: 2px solid #f57c00;
}

.login {
	height: 510px;
	width: 400px;
}

.mleft {
    margin-left: 5%;
}

.mup {
    margin-top: 2%;
}

.login-box {
    margin-top: 10px;
}

.login-box .material-icons {
	color:#9e9e9e;
}

.logar {
    height: 200px;
    width: 400px;
    background:url('../imgs/bk.jpg') center/cover;
    overflow: hidden;
}

.meio {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -195px;
    margin-left: -90px;
    font-size: 4em;
    color: orange;
}

.direita {
    margin-right: 15px;
}

.direita .btn {
	background: #f57c00;
}

.direita input[type=submit] {
    background-color: #f57c00;
}

.checkb {
	margin-left:27px;
}
.erro-login {
	height: 35px;
	width:400px;
	position:absolute;
}
.erro-login p {
	color:#fff;
	line-height: 5px;
}
/* FIM PÁGINA DE LOGIN */

.options i {
	font-size:7em;
	color:#727272;
}
.options a {
	font-size: 2em;
	color:#e0e0e0;
}
.options a:hover {
	color:#f57c00;
}


/* */


.center-align {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}